# Analisis exploratorio de los distintos archivos 

* Total_koha: Este archivo contiene los datos pertenecientes a al sistema implementado en la Facultad de Ingeniera 
* Consulta_koha: Contiene los libros pertenecientes al sistema de la Facultad de Ingenieria marcados como material de consulta
* Bidi: Servicio de libros digitales en el que la facultad se encuetra suscrito

## Librerias de utilidad y ruta de acceso

In [2]:
import sys
import os

sys.path.append(os.path.abspath('C:/Users/Axel/Desktop/Practica-Biblioteca'))

from src import lectura, conversor
import pandas as pd

ISBN-10: 846044757X -> ISBN-13: 9788460447573

## Analisis de libros total koha

In [2]:
libros_total_koha = lectura.leer_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/total_koha.csv')

Archivo C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/total_koha.csv leído con éxito.

In [3]:
libros_total_koha.head()

,barcode,dateaccessioned,booksellerid,homebranch,price,replacementprice,itemcallnumber,holdingbranch,title,author,isbn
0,7230,2024-04-22,NaN,FING,NaN,NaN,32,FING,Chaos :,"Alligood, Kathleen T.",0387946772
1,7231,2024-04-22,NaN,FING,NaN,NaN,32,FING,Analysis of observed chaotic data /,"Abarbanel, H. D. I",0387983724
2,7229,2024-02-26,NaN,FING,NaN,NaN,50,FING,Proactive innovation :,"Richter, Sergio Raúl",9798861825221
3,L578,2023-11-08,NaN,FING,NaN,NaN,80,FING,GMP qualification and validation of facilities...,NaN,NaN
4,7222,2023-10-02,NaN,FING,NaN,NaN,49,FING,Introducción a la economía de la salud para in...,"Martínez Licona, Fabiola Margarita",9786072813410

In [4]:
libros_total_koha.info() #informacion de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4326 entries, 0 to 4325
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   barcode           4326 non-null   object
 1   dateaccessioned   4326 non-null   object
 2   booksellerid      0 non-null      float64
 3   homebranch        4326 non-null   object
 4   price             103 non-null    float64
 5   replacementprice  1 non-null      float64
 6   itemcallnumber    4311 non-null   object
 7   holdingbranch     4326 non-null   object
 8   title             4326 non-null   object
 9   author            3857 non-null   object
 10  isbn              3413 non-null   object
dtypes: float64(3), object(8)
memory usage: 371.9+ KB

In [5]:
# Mostrar un resumen descriptivo de las variables cualitativas
print(libros_total_koha.describe(include='object'))

       barcode dateaccessioned homebranch itemcallnumber holdingbranch  \
count     4326            4326       4326           4311          4326
unique    4326              84          1             83             1
top       7027      2018-08-07       FING             25          FING
freq         1            4142       4326            172          4326

            title          author           isbn
count        4326            3857           3413
unique       2355            1795           2020
top     Cálculo :  Di Paolo, José  9789872923501
freq           52              54             50

In [6]:
lectura.validar_calidad(libros_total_koha) #validar la calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4326 entries, 0 to 4325
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   barcode           4326 non-null   object
 1   dateaccessioned   4326 non-null   object
 2   booksellerid      0 non-null      float64
 3   homebranch        4326 non-null   object
 4   price             103 non-null    float64
 5   replacementprice  1 non-null      float64
 6   itemcallnumber    4311 non-null   object
 7   holdingbranch     4326 non-null   object
 8   title             4326 non-null   object
 9   author            3857 non-null   object
 10  isbn              3413 non-null   object
dtypes: float64(3), object(8)
memory usage: 371.9+ KB
Valores faltantes: 14271
Filas duplicadas: 0

* Se determina que las metricas necesarias para este analisis son "TItile, Author, ISBN"

Note como ahora si aparecen valores duplicados, esto se debe que antes la variable "barcode" era un unicode, es decir para cada observacion presentaba un id, esto termino siendo un problema ya que si hay filas duplicas pero por el barcode era imposible detectar.

Una vez detectado esos valores duplicados los eliminamos

In [7]:
libros_t2 = libros_total_koha[['title','author','isbn']]
lectura.validar_calidad(libros_t2) # Verificar calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4326 entries, 0 to 4325
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4326 non-null   object
 1   author  3857 non-null   object
 2   isbn    3413 non-null   object
dtypes: object(3)
memory usage: 101.5+ KB
Valores faltantes: 1382
Filas duplicadas: 1618

In [8]:
libros_t2 = libros_t2.drop_duplicates() # Eliminar duplicados

* Note que hay observaciones donde hay mas de un ISBN
Esto se debe a disntas razones, el primer isbn es de diez digitos y el segundo de trece o el segundo digito indica a la obra completa (o.c).

En ambos casos en conveniente quedarse con el primer ISBN presente.

In [9]:
filas_isbn_largo = libros_t2[libros_t2['isbn'].apply(lambda x: len(str(x)) > 13)]
filas_isbn_largo.head()

,title,author,isbn
16,Electrónica digital :,NaN,847897735X | 9788478977352 (ISBN 13)
35,Técnicas de prevención en la generación de sue...,NaN,8489650721 | 8489650802
36,Técnicas de prevención en la generación de sue...,NaN,848965073X | 8489650802
225,Elementos de cálculo diferencial e integral: c...,"Sadosky, Manuel",9505530013 | 9505530005
233,Elementos de cálculo diferencial e integral: c...,"Sadosky, Manuel",9500530031 | 9500530007

In [10]:
# Separar los ISBNs si están separados por espacio o "|", quedándonos con el primero
libros_t2['isbn'] = libros_t2['isbn'].str.split('|').str[0].str.strip()

* Ahora vamos a convertir los isbn de 10 digitos a 13. Esto se hace gracias a la funcion 'Convertir_isbn' del modulo Conversor.

In [11]:
new_libros = conversor.convertir_isbn(libros_t2,'isbn') # Convertir los ISBNs a 13 dígitos


new_libros.head() #Libros con los ISBN convertidos a 13 digitos

,title,author,isbn
0,Chaos :,"Alligood, Kathleen T.",9780387946771
1,Analysis of observed chaotic data /,"Abarbanel, H. D. I",9780387983721
2,Proactive innovation :,"Richter, Sergio Raúl",9798861825221
3,GMP qualification and validation of facilities...,NaN,NaN
4,Introducción a la economía de la salud para in...,"Martínez Licona, Fabiola Margarita",9786072813410

*Un problema detectado es que hay observaciones donde presetan el mismo titulo y autor pero una observacion de ellas no tiene ISBN cargado, lo que significa que son datos iguales pero no se detectan. Decidi hacer una funcion que verifique si el titulo y autor coincide con otra observacion y esta tiene isbn, eliminara la que no tiene un valor en isbn

In [12]:
new_libros = conversor.eliminar_filas_sin_isbn(new_libros) # Eliminar filas sin ISBN pero con título y autor presentes en otras filas

A continuacion contrastaremos el df actual con el df "junto" estos se debe a que es posible de que nuestro df contenga folletos o articulos proveniente de congresos o similares. Estos no deben ser tomado en cuenta en nuestro analisis final

Para ello el csv 'junto' contiene el listado con los titulos de este tipo de categoria, lo utilizaremos para constrastar con el df raiz para dectectar y eliminar.

In [13]:
# Leer el archivo junto.csv
junto_df = pd.read_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/junto.csv') # Archivo con los datos concatenados para buscar coincidencias, si lo hay eliminarlos

# Filtrar el DataFrame new_libros para encontrar coincidencias
new_libros = new_libros[~new_libros['title'].isin(junto_df['title'])]

In [14]:
new_libros = new_libros.dropna() # Eliminar filas con valores nulos
new_libros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1907 entries, 0 to 4324
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1907 non-null   object
 1   author  1907 non-null   object
 2   isbn    1907 non-null   object
dtypes: object(3)
memory usage: 59.6+ KB

In [16]:
#agregar columna de origen (koha, koha_cosulta, bidi)
new_libros['origen'] = 'koha'

In [17]:
#Escritura de los datos limpios
new_libros.to_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_total_koha.csv', index=False) # Guardar el archivo en formato CSV

*NOTA.
*Hacer constraste con los titulos que SI van. seguramente no hay coincidencias
*sigo teniendo isbn faltante, ya considerar en eliminar
*Escribir el csv resultante de este archivo

## Analis sobre libros de consulta en Koha

In [18]:
consulta_koha = lectura.leer_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/consulta_koha.csv')

Archivo C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/consulta_koha.csv leído con éxito.

In [19]:
consulta_koha.head() # Mostrar los primerosregistros

,barcode,dateaccessioned,booksellerid,homebranch,price,replacementprice,itemcallnumber,holdingbranch,title,author,isbn
0,7232,2024-04-24,NaN,FING,NaN,NaN,32,FING,Chaotic evolution and strange attractors :,"Ruelle, David.",0521368308 (pbk.)
1,7233,2024-04-24,NaN,FING,NaN,NaN,32,FING,Chaotic and fractal dynamics :,"Moon, F. C.,",0471545716
2,7228,2023-10-11,NaN,FING,NaN,NaN,89,FING,Científicas de acá :,NaN,9786319002416
3,7224,2023-10-09,NaN,FING,18500.0,NaN,15,FING,Óptica /,"Hecht, Eugene",9788490354926
4,7225,2023-10-09,NaN,FING,17500.0,NaN,15,FING,Sears y Zemansky Física universitaria :,"Young, Hugh D.",9786073221900

In [20]:
consulta_koha.info() # Información de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   barcode           1548 non-null   object
 1   dateaccessioned   1548 non-null   object
 2   booksellerid      0 non-null      float64
 3   homebranch        1548 non-null   object
 4   price             159 non-null    float64
 5   replacementprice  2 non-null      float64
 6   itemcallnumber    1548 non-null   object
 7   holdingbranch     1548 non-null   object
 8   title             1548 non-null   object
 9   author            1294 non-null   object
 10  isbn              1194 non-null   object
dtypes: float64(3), object(8)
memory usage: 133.2+ KB

In [21]:
# Mostrar un resumen descriptivo de las variables cualitativas
consulta_koha.describe(include='object')

,barcode,dateaccessioned,homebranch,itemcallnumber,holdingbranch,title,author,isbn
count,1548,1548,1548,1548,1548,1548,1294,1194
unique,1548,81,1,69,1,1376,1037,1184
top,F519,2018-08-07,FING,99,FING,Cálculo :,"Spiegel, Murray R.",082183780X
freq,1,1368,1548,68,1548,9,13,2

In [22]:
lectura.validar_calidad(consulta_koha) #validar la calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   barcode           1548 non-null   object
 1   dateaccessioned   1548 non-null   object
 2   booksellerid      0 non-null      float64
 3   homebranch        1548 non-null   object
 4   price             159 non-null    float64
 5   replacementprice  2 non-null      float64
 6   itemcallnumber    1548 non-null   object
 7   holdingbranch     1548 non-null   object
 8   title             1548 non-null   object
 9   author            1294 non-null   object
 10  isbn              1194 non-null   object
dtypes: float64(3), object(8)
memory usage: 133.2+ KB
Valores faltantes: 5091
Filas duplicadas: 0

In [23]:
libros_c = consulta_koha[['title','author','isbn']]
lectura.validar_calidad(libros_c) # Verificar calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1548 non-null   object
 1   author  1294 non-null   object
 2   isbn    1194 non-null   object
dtypes: object(3)
memory usage: 36.4+ KB
Valores faltantes: 608
Filas duplicadas: 25

In [24]:
libros_c = libros_c.drop_duplicates() # Eliminar duplicados

In [25]:
# Separar los ISBNs si están separados por "|" o por espacio, quedándonos con el primero
libros_c['isbn'] = libros_c['isbn'].str.split(r'[| ]').str[0].str.strip()
libros_c.head()

                                        title          author           isbn
0  Chaotic evolution and strange attractors :  Ruelle, David.     0521368308
1              Chaotic and fractal dynamics :    Moon, F. C.,     0471545716
2                        Científicas de acá :             NaN  9786319002416
3                                    Óptica /   Hecht, Eugene  9788490354926
4     Sears y Zemansky Física universitaria :  Young, Hugh D.  9786073221900

In [26]:
libros_c2 = conversor.convertir_isbn(libros_c,'isbn') # Convertir los ISBNs a 13 dígitos


libros_c2.head() #Libros con los ISBN convertidos a 13 digitos

                                        title          author           isbn
0  Chaotic evolution and strange attractors :  Ruelle, David.  9780521368308
1              Chaotic and fractal dynamics :    Moon, F. C.,  9780471545712
2                        Científicas de acá :             NaN  9786319002416
3                                    Óptica /   Hecht, Eugene  9788490354926
4     Sears y Zemansky Física universitaria :  Young, Hugh D.  9786073221900

In [27]:
libros_c2 = conversor.eliminar_filas_sin_isbn(libros_c2) # Eliminar filas sin ISBN pero con título y autor presentes en otras filas

In [28]:
# Filtrar el DataFrame new_libros para encontrar coincidencias
libros_c2 = libros_c2[~libros_c2['title'].isin(junto_df['title'])]

In [29]:
libros_c2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1495 entries, 0 to 1547
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1495 non-null   object
 1   author  1271 non-null   object
 2   isbn    1179 non-null   object
dtypes: object(3)
memory usage: 46.7+ KB

In [30]:
libros_c2 = libros_c2.dropna() # Eliminar filas con valores nulos
libros_c2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1105 entries, 0 to 1536
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   1105 non-null   object
 1   author  1105 non-null   object
 2   isbn    1105 non-null   object
dtypes: object(3)
memory usage: 34.5+ KB

In [31]:
#agregar columna de origen (koha, koha_cosulta, bidi)
libros_c2['origen'] = 'koha_consulta'

In [32]:
libros_c2.to_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_consulta_koha.csv', index=False)

## Analisis sobre Archivo Bidi

In [10]:
bidi = lectura.leer_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/bidi.csv')

Archivo C:/Users/Axel/Desktop/Practica-Biblioteca/data/crudos/bidi.csv leído con éxito.

In [11]:
bidi.columns = ['ID', 'title', 'author', 'isbn', 'Editorial','Universidad','Numero_licencia','dato','Fecha_vencimiento_lic'] 
bidi

,ID,title,author,isbn,Editorial,Universidad,Numero_licencia,dato,Fecha_vencimiento_lic
0,58930.0,La libertad como tecnología de gobierno. Derec...,Beatriz Dávilo [et al].,9789506984458,EDUNER,uner,20.0,14/3/2024 17:18,14/3/2025 17:18
1,58938.0,Semillas de orquídeas (de la región litoral),Víctor H. Lallana (compilador),9789506984793,EDUNER,uner,20.0,14/3/2024 17:18,14/3/2025 17:18
2,58925.0,Breve manual de lectura y escritura para la u...,Carolina Clerici,9789506984830,EDUNER,uner,20.0,14/3/2024 17:18,14/3/2025 17:18
3,58932.0,Manual de cálculos para el diseño de plantas d...,Elbio Miguel Woeffray,9789506984915,EDUNER,uner,20.0,14/3/2024 17:18,14/3/2025 17:18
4,58937.0,Revolución y lucha por la organización. Primer...,Juan A. Vilar,9789506984328,EDUNER,uner,20.0,14/3/2024 17:18,14/3/2025 17:18
...,...,...,...,...,...,...,...,...,...
6098,62076.0,América en el pensamiento de Alfonso Reyes,Alfonso Reyes,9786071638182,Fondo de Cultura Económica,uner,100.0,30/8/2024 18:03,30/8/2025 18:03
6099,62077.0,El enamoramiento y el mal de amores,Alberto Orlandini,9786071645197,Fondo de Cultura Económica,uner,100.0,30/8/2024 18:03,30/8/2025 18:03
6100,62078.0,Cáncer: herencia y ambiente,Cristina Cortinas,9786071644930,Fondo de Cultura Económica,uner,100.0,30/8/2024 18:04,30/8/2025 18:04
6101,62079.0,Venenos,Juan Luis Cifuentes,9786071644923,Fondo de Cultura Económica,uner,100.0,30/8/2024 18:04,30/8/2025 18:04
6102,62080.0,Andar entre libros,Teresa Colomer,9786071643148,Fondo de Cultura Económica,uner,100.0,30/8/2024 18:04,30/8/2025 18:04

In [12]:
lectura.validar_calidad(bidi) # Validar la calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6103 entries, 0 to 6102
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     2627 non-null   float64
 1   title                  6103 non-null   object
 2   author                 6101 non-null   object
 3   isbn                   6103 non-null   int64
 4   Editorial              6101 non-null   object
 5   Universidad            6103 non-null   object
 6   Numero_licencia        2627 non-null   float64
 7   dato                   2627 non-null   object
 8   Fecha_vencimiento_lic  2627 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 429.2+ KB
Valores faltantes: 13908
Filas duplicadas: 0

In [13]:
bidi2 = bidi[['title','author','isbn']]
lectura.validar_calidad(bidi2) # Verificar calidad de los datos

Validando calidad de datos del archivo...
Informacion de los datos
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6103 entries, 0 to 6102
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   6103 non-null   object
 1   author  6101 non-null   object
 2   isbn    6103 non-null   int64
dtypes: int64(1), object(2)
memory usage: 143.2+ KB
Valores faltantes: 2
Filas duplicadas: 0

In [14]:
#Agregar columna de origen (koha, koha_consulta, bidi)
bidi2['origen'] = 'bidi'

C:\Users\Axel\AppData\Local\Temp\ipykernel_18516\2817614857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bidi2['origen'] = 'bidi'

In [17]:
#en la columna titulo se encuentran titulos y ediciones o volumenes, se procede a solo dejar los titulos
# en el caso donde dice edicion se presenta asi " administración de ventas (8a edición)" donde el titulo es "administración de ventas" 
# y la edicion es "8a edición" entre parentesis se procede a eliminar la edicion

bidi2['title'] = bidi2['title'].str.replace(r'\(.*?\)', '', regex=True).str.strip() # Eliminar ediciones

C:\Users\Axel\AppData\Local\Temp\ipykernel_18516\3496791945.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bidi2['title'] = bidi2['title'].str.replace(r'\(.*?\)', '', regex=True).str.strip() # Eliminar ediciones

In [19]:
#para el caso de los volumenes se presenta asi "química orgánica: volumen 1" o "fisica preuniversitaria. volumen i" es decir el separados es dos puntos o uno
#se procede a eliminar los volumenes

import re

def limpiar_titulo(title):
    # Expresión regular para detectar "volumen" o "vol." con su número o identificación
    patron_volumen = r'(?i)(?:\bvol(?:umen)?\.?\s*[ivxlcdm]+\b|\bvolumen\s*\d+\b)'
    
    # Buscar cualquier ocurrencia de "volumen" o "vol." y dividir el string antes de eso
    title_limpio = re.split(patron_volumen, title)[0]
    
    # Eliminar espacios en blanco adicionales al inicio y al final
    return title_limpio.strip()

# Aplicar la función a la columna 'title'
bidi2['title'] = bidi2['title'].apply(limpiar_titulo)

C:\Users\Axel\AppData\Local\Temp\ipykernel_18516\5561759.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bidi2['title'] = bidi2['title'].apply(limpiar_titulo)

In [20]:
bidi2.to_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_bidi.csv', index=False) # Guardar el archivo en la carpeta procesados

# Juntar los tres archivos limpios resultantes

In [3]:
# Leer import pandas as pd

# Leer los archivos CSV con los datos limpios
# Especificar el delimitador y el tipo de dato para la columna ISBN
bidi = pd.read_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_bidi.csv', delimiter=',')
libros_consulta_koha = pd.read_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_consulta_koha.csv', delimiter=',')
libros_total_koha = pd.read_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_total_koha.csv', delimiter=',', dtype={'isbn': str})

In [4]:
# Concatenar los DataFrames
libros = pd.concat([bidi, libros_consulta_koha, libros_total_koha], axis=0)

libros_total_koha

,title,author,isbn,origen
0,Chaos :,"Alligood, Kathleen T.",9780387946771,koha
1,Analysis of observed chaotic data /,"Abarbanel, H. D. I",9780387983721,koha
2,Proactive innovation :,"Richter, Sergio Raúl",9798861825221,koha
3,Introducción a la economía de la salud para in...,"Martínez Licona, Fabiola Margarita",9786072813410,koha
4,Guerra biológica y bioterrorismo /,"Lema, Pablo",9789871220687,koha
...,...,...,...,...
1902,Modelos matemáticos para todos los niveles.,"Mochón, Simón",9789506738174,koha
1903,La génesis y la enseñanza del cálculo :,"Ímaz J., Carlos",9786071706768,koha
1904,La divina comedia.,"Alighieri, Dante",9789876620116,koha
1905,Biomedical signal processing :,"Cohen, Arnon",9780849359330,koha
1906,Procesamiento digital de señales /,"Aljama Corrales, Tomás",9789706200563,koha

In [5]:
libros.to_csv('C:/Users/Axel/Desktop/Practica-Biblioteca/data/procesados/libros_biblioteca.csv', index=False) # Guardar el archivo en la carpeta procesados